@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.navbar{
    background-color: rgb(70, 80, 122);
    height:300px;
}
.container{
    list-style:none;
    padding:20px 30px;
    margin:0;
    color:#fff;
    font-family: Roboto;
    animation: down 1.5s forwards 0s linear;
}


.title{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
    text-decoration:none;
    color:#fff;
}
 
.icon{
    float:right;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color:#fff;
    font-size:1.5em;
}

.header{
    color:#fff;
    font-size:4em;
    text-align:center;
    padding:30px;
    font-family: Playball;
    animation: down 1.5s forwards 0s linear;
}

@keyframes down{
    0%{
        transform: translateY(-20%);
        opacity: 0;
        }  
    100%{
        transform: translateY(0);
        opacity: 1;
        }
}


@media(max-width:1000px){
    .navbar{
        height:250px;
    }
    .container{
        padding:5px 15px;
    }
    .title{
        font-size:1.5em;
    }
    li{
        font-size:1.2em;
    }
    .header{
        font-size:3em;
    }
}